body {
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(to top left, #ffff66 0%, #3399ff 100%);  
    height: 100%; 
    background-position: center;
    background: url(3461180.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#title {
    font-size: 35px;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 40px;
}

#welcome {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    background-color: whitesmoke;
    color: black;
    margin-bottom: 40px;
}

#game_board_container {
    text-align: center;
    margin-bottom: 56px;
}

.game_board_letter {
    display: inline-block;
    border: 2px solid #bcbcbc;
    fill: white;
    margin: 16px;
    width: 68px;
    height: 68px;
    font-size: 64px;
    font-weight: bolder;
    text-shadow: 2px 2px black;
    text-align: center;
}

.no_border {
    display: inline-block;
    border: 2px solid #bcbcbc;
    background-color: white;
    margin: 16px;
    width: 68px;
    height: 68px;
    font-size: 64px;
    font-weight: bolder;
    text-align: center;
}

#guessed_container {
    font-size: 20px;
    text-align: center;
    height: 20px;

    margin-bottom:16px;
    
}

#guessed {
    border-bottom:1px solid #000000;
    padding-right:24px;
    padding-left:24px;
    padding-bottom:8px;
    
}

#win_loss_container {
    padding:8px;
    text-align: center;
    font-weight: 600;
    color: black;
    background-color: whitesmoke;
}

#guesses_remaining_container {
    text-align: center;
    height: 20px;
    font-weight: 600;
    color: black;
    background-color: whitesmoke;
}